body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#menu-bar{
    height: 100px;
}
.nav-bar ul{
    list-style-type: none;
    float: right;
    margin-right: 20px;
}
.nav-bar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #363958;
}
p{
    color: gray;
}
h1,h2,h3{
    color: #363958;
}
section{
    height: 800px;
    padding-bottom: 60px;
    
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
.middle-area{
    height: 500px;
}
.second-middle-area{
    height: 500px;
}
h1{
    font-size: 40px;
    color: #363958;
    margin-bottom: -10px;
     
}
.bio-colorhighlight{
    color: orange;
    font-size: 40px;
}
.link-area{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#working-area{
    width: 100%;
    height: 600px;
    background-color: #F8F9FC;
    padding: 40px;
    text-align: center;
     
    
}
 
.color-define{
    color: lightsalmon;
}
  /* h2{
    text-align: center;
     
} */
.division{
    width: 30%;
    float: left;
    margin-left: 15px;
     
    margin-top: 150px;
    text-align: left;
}
.shadow-area{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
     
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.img-bg1{
    width: 230px;
    height: 170px;
    background-color: #EFFAFE;
    padding: 0 auto;
    margin: 12px 2px 0 60px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.img-bg1 img{
    height: 100%;
    margin-left: 8px;
}
.card-footer{margin-left: 12px;}
.img-bg2{
    width: 230px;
    height: 170px;
    background-color: #FEFAEE;
    padding: 0 auto;
    margin: 12px 2px 0 60px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.img-bg2 img{
    margin-left: 15px;
}
.img-bg3{
    width: 230px;
    height: 170px;
    background-color: #F3FEEE;
    padding: 0 auto;
    margin: 12px 2px 0 60px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.img-bg3 img{
    margin-left: 15px;
}
#working-inquery-area{
    background-image: url("images/background.png");
    width: 900px;
    height: 225px;
    margin: 0 auto;
    margin-top: 30px;
   
    
}
.inqury-site{
    height: 400px;
}
.inqury-site h2{
    color: white;
    margin: 86px 0px 0px 115px;
    display: inline-block; 
    text-transform: uppercase;    
}
.get-link{
    float: right;
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    border-radius: 5px;
    margin: -325px 50px 20px 0;
    color: white;
}
#indroduce-area{
    margin-top: -500px;
    width: 100%;
    height: 350px;
    background-color: hsla(231, 36%, 70%, 0.082);
    padding: 60px;
}
.introduce-part{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-left: 70px;
    
     
}
.percent-area1{
    width: 140px;
    height: 10px;
    background-color: black;
    display: inline-block;
    
}
.percent-area2{
    width: 120px;
    height: 10px;
    background-color: black;
    display: inline-block;
    
}
.percent-area3{
    width: 110px;
    height: 10px;
    background-color: black;
    display: inline-block;
    
}
.percent-area4{
    width: 160px;
    height: 10px;
    background-color: black;
    display: inline-block;
    
}
footer{margin-bottom: 40px;}
.menu-top-text{
    text-align: center;
    padding: 0px;
}
 
.menu-top-text h6{
    color: gray;
    margin-bottom: -30px;
    
}
.menu-top-text h4{
    font-size: 30px;
    margin-bottom: 5px;
}
.footer-menu{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-menu ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
}
.footer-menu ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.footer-menu ul li a{
    color: #272727;
    font-size: 25px;
}
.footer-menu ul li a i{
    line-height: 50px;
}